/*Глобальные стили*/
p {
    font-size: 16px;
}
h2 {
font-weight: 500;
font-size: 45px;
line-height: 45px;
}
h3 {
font-weight: bold;
font-size: 24px;
line-height: 30px;
}
/*Общий стиль страницы*/
.page-body {

}
/*Общий стиль шапки*/
.main-header {
    background: #EEEEEE;
}


.main-navigation {
    

}
/*Стиль логотипа в шапке*/
.main-header-logo {

    
    }
/*Общий стиль горизонтального меню*/
.site-navigation {
    display: inline-block;
    color: #000000;
    
}
/*Стиль разделов меню*/
.nav-link {
    color: #000000;
}
/*Стиль корзины*/
.cart-link {
    color: #000000;
}
/*Офортмление слайдера*/
.slide1 {

}
.container {
  
}


.main-service {
}

.button {
    position: absolute;
    width: 240px;
    height: 50px;
    left: 140px;
    top: 415px;
    color: #FFFFFF;
    background: #FB565A;
    border-radius: 3px;
}
.button1 {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 140px;
    top: 922px;
    color: #FFFFFF;
    background: #FB565A;
    border-radius: 3px;
}
.button2 {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 540px;
    top: 922px;
    color: #FFFFFF;
    background: #00CA74;
    border-radius: 3px;
}
.button3 {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 940px;
    top: 922px;
    color: #FFFFFF;
    background: #EFC849;
    border-radius: 3px;
}


.about {

}

}
.service-item {

}
.service-list {

}
/*Класс преимуществ*/
.advantages {

}
.advantages-list {

}

.advantages-item {

}
/*Класс логотипы партнеров*/
.partner-logos {

}
.logo-1-1 {

}

.page-footer {

    }

.footer-social {

}
.social-button {


}

.map {
top: 1843px;
}

.footer-title {

}

.footer-text {



.modal-login {

}
.modal-description {

}

.modal-close {

}