@font-face {
    font-family: "Roboto", sans-serif;
    src: local ("Roboto"), url("fonts/roboto") format("woff2");
}

/* Variables кастомные свойства*/

:root {
    /* цвет фона */
    --main-bg-color: #ffffff;
    --accent-color: rgb(209, 209, 209);
    /* цвет фона красных кнопок */
    --main-bg-red-color: #FB565A;
    /* цвет фона зеленой кнопки */
    --main-bg-green-color: #00CA74;
    /* цвет фона желтой кнопки */
    --main-bg-yellow-color: #EFC849;
    /* основной цвет текста */
    --main-txt-color: #000000;
    /* цвет фона в шапке на внутренних */
    --main-bg-grey-color: #EEEEEE;
    --social-bg-grey-color:  #A6A6A6;
    --text-decoration-color: red;
    --cart-link-color: #000000;
}

/* Global */



body {
    font-family: "Roboto", sans-serif;
    background-color: var(--main-bg-color);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

/*Общий стиль страницы*/

.page-body {
}

/*Общий стиль шапки*/

.main-header {
    background-color: var(--main-bg-grey-color) 
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-white);
    outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px;
    background-color: transparent;
}

.main-navigation a{
display: block;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

/*Стиль логотипа в шапке*/

.main-header-logo {
    outline: rgb(255, 0, 0, 0.3);
    justify-self: left;
    outline-offset: -5px;
}

/*Общий стиль горизонтального меню*/

.site-navigation {
    text-transform: uppercase;
}

.site-navigation-item {
    text-transform: uppercase;
}

/*Стиль подчеркивания раздела магазин в каталоге*/

.underline-red {
    text-decoration: underline color;
    color: var(--text-decoration-color);
}

/*Стиль разделов меню*/

.nav-link {
    color: #000000;
    position: absolute;
    background-image: url("img/cart.svg");
    left: 82.29%;
    right: 16.67%;
    top: 3.31%;
    bottom: 96.24%;
}

/*Стиль корзины*/

.cart-link {
    color: var(--cart-link-color);
}

/* иконка корзины */

.cart-icon {
    width: 15px;
    height: 15px;
    left: 1185px;
    top: 82px;
}

.user-navigation {
    max-width: 140px;
    outline: 5px solid rgba(255, 0, 255, 0.3);
    outline-offset: -5px;
}

/*Офортмление слайдера*/

.main-slider-1 {
    width: 1157px;
}

.text-slider {
    width: 400px;
    height: 49px;
    left: 140px;
    top: 363px;
}

.hello-slider {
    outline: 5px solid rgba(255, 208, 0, 0.753);
}

/*сам слайд*/

.slide1 {
    display: flex;
    align-items: center;
}

.container {
    outline: rgb(255, 0, 0, 0.3);
}

.main-service {}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-around;
}


.button-web-site {}

.button-presentations {}


/*стиль полосок*/

.about {
    background-color: var(--basic-color)
}

.title-about {
    font-size: 45px;
    line-height: 45px;
}

.service-pic {

}

/*Класс преимуществ*/

.advantages-logo {

}

.advantages-list {}

.advantages-item {}

/*Класс логотипы партнеров*/

.partner-logos {}

/*лого mishka*/

.list-logo {}

.logo-1-1 {}

.page-footer {
    outline: 5px solid rgba(0, 255, 255, 0.7);
}

/*кнопки соц сетей*/

.footer-social li {
    outline: 5px solid rgba(0, 255, 255, 0.7);
    background-color: var(--social-bg-grey-color);
    border-radius: 50%;
}

/*фон карты*/


.main-footer {

}

.footer-title {}

.footer-text {
    width: 373px;
    height: 22px;
}

.modal-login {}

.modal-description {}

.modal-close {}

.filter {
    outline-offset: -5px;
    outline: 5px solid rgba(255, 0, 255, 0.7);
}
.filter-option-label {
    position: relative;
    display:block
}
.filter fieldset:first-child {
    margin-bottom: 35px;
}