/*Глобальные стили*/
/* roboto-fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
body {
    min-width: 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-disoplay: swap;
}

p {
    font-size: 16px;
}

h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

/*кастомные свойства*/

:root {
    --basic-color: #ffffff;
    --accent-color: rgb(209, 209, 209);
    --color: blue;
}

/*Общий стиль страницы*/

.page-body {}

/*Общий стиль шапки*/

.main-header {
    background: #EEEEEE;
}

.main-navigation {}

/*Стиль логотипа в шапке*/

.main-header-logo {}

/*Общий стиль горизонтального меню*/

.site-navigation {
    position: absolute;
    text-decoration: none;
    width: 437px;
    height: 30px;
    left: 502px;
    top: 75px;
}
.site-navigation-item {
    display: inline-block;
    color: #000000;
}

/*Стиль разделов меню*/

.nav-link {
    color: #000000;
}

/*Стиль корзины*/

.cart-link {
    color: #000000;
}
/* иконка корзины */
.cart-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1185px;
    top: 82px;
}


/*Офортмление слайдера*/

.slide1 {}

.container {}

.main-service {}

.button {
    position: absolute;
    width: 240px;
    height: 50px;
    left: 140px;
    top: 415px;
    color: #FFFFFF;
    background: #FB565A;
    border-radius: 3px;
}

.button1 {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 140px;
    top: 922px;
    color: #FFFFFF;
    background: #FB565A;
    border-radius: 3px;
}

.button2 {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 540px;
    top: 922px;
    color: #FFFFFF;
    background: #00CA74;
    border-radius: 3px;
}

.button3 {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 940px;
    top: 922px;
    color: #FFFFFF;
    background: #EFC849;
    border-radius: 3px;
}


/*стиль полосок*/
.rectangle {
    position: absolute;
    width: 1158px;
    height: 2px;
    left: 140px;
    top: 1579px;
    background: #EEEEEE;
}
.about {
    background-color: var(--basic-color)
}

}

.service-item {}

.service-list {}

.service-pic {}

/*Класс преимуществ*/

.advantages-logo {
    left: 940px;
    top: 1093px;
}

.advantages-list {}

.advantages-item {}

/*Класс логотипы партнеров*/

.partner-logos {}

/*лого mishka*/

.list-logo {}

.logo-1-1 {}

.page-footer {}

.footer-socials {}

.social-button {}

.map {

}

.footer-title {}

.footer-text {
    .modal-login {}
    .modal-description {}
    .modal-close {}